$background-primary: rgb(41, 41, 41);
$background-secondary: rgb(21, 21, 21);
$foreground-primary: rgb(202, 202, 202);

.todo-list-sidebar {
    background-color: $background-secondary;
    min-width: 280px;
    max-width: 330px;
    width: 25%;
    height: 100%;
    color: $foreground-primary;
    display: flex;
}

.todo-list-sidebar-header {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;

    .search-bar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        margin: 1rem 0;
        background-color: white;
        border-radius: 4px;
        border: 1px solid black;
        flex: 3 0 0;
        transition: transform 150ms;

        .sidebar-search-input {
            height: 35px;
            width: 100%;
            background-color: transparent;
            border: none;
            margin-left: 1rem;
            font-size: 1em;
            color: black;
            outline: none;
        }
    
        button {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            color: black;
            cursor: pointer;
    
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .search-bar-container:hover {
        transform: scale(1.1);
    }

    .add-todo-list-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        height: 100%;
    
        button {
            height: 50px;
            width: 50px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: transform 150ms;
    
            svg {
                width: 60%;
                height: 60%;
                color: rgb(212, 212, 212);
            }
        }
    
        button:hover {
            transform: scale(1.2);
        }
    
        button:active {
            transform: scale(0.9);
        }
    }
}

@media all and (max-width: 720px) {
    .todo-list-sidebar {
        display: none;
    }
}